@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

body {
    height: 150vh;
    font-size: 0.75em;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}

section:first-of-type {
    /* background-image: ; */
}

section:nth-of-type(2) {
    /* background-image: ; */
}

section:nth-of-type(3) {
    /* background-image: ; */
}

section:nth-of-type(4) {
    /* background-image: ; */
}

section:last-of-type {
    /* background-image: ; */
}